@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-calendar-picker-indicator{
  color: #ffffff;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

.bg-main-bg {
background-image: url('./data/backgroud.png') ;
  height: 100%;
  background-size: cover;
}

/* Upload */
.Upload {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone  {
  background: #1F2937;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  cursor: pointer;
  height: 200px;
  width: 400px;
  border: 2px dashed cyan;
  outline: none;
  border-radius: 15px;
}

.uploadProcess {
  background: #1F2937;
  display: flex;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  padding: 20px;
  height: 400px;
  width: 600px;
  border-radius: 15px;
}
.dropzoneReject {
  border: 2px dashed red;
}

.dropzoneAccept {
  border: 2px dashed green;
}

.e-pager .e-currentitem, .e-pager .e-currentitem:hover{
  background:#46566C;
  color: #fff !important;
  opacity: 100;
  border-radius: 8px;
}

.e-pager .e-currentitem, .e-pager .e-currentitem:active {
  background:#46566C ;
  color: #fff ;
  opacity: 100 ;
  border-radius: 8px ;
}


.e-pager {
  background-color: #1F2937;
  color: #fff;
  opacity: 1;
  border-radius: 8px;
}

.e-pager .e-numericitem {
    background: #1F2937;
    color: #fff;
}

.bg-color-own{
  background-color: #1F2937;
}



/*Making the Container  white while maintaing the background color */
 .e-pager .e-pagercontainer , .e-pager {
  background-color: #1F2937;
  color: #fff;
} 

/*Making the button white while maintaing the background color */
 .e-pager div.e-icons.e-disable {
  background-color: #1F2937;
  color: #fff;
  opacity: 100;
} 

/*Making the button white while maintaing the background color */
 .e-pager .e-prevpagedisabled, .e-pager .e-prevpage, .e-pager .e-nextpage, .e-pager .e-nextpagedisabled, .e-pager .e-lastpagedisabled, .e-pager .e-lastpage, .e-pager .e-firstpage, .e-pager .e-firstpagedisabled{
  background-color: #1F2937;
  color: #fff !important;
  opacity: 100;
} 


#form1 {
  width: 80%;
  margin: 0 auto;
}

#btn{
  padding-left: 10vh;
}

label,
input,select {
  /* In order to define widths */
  display: inline-block;
}

label,select {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input+select {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}


/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

input+input {
  float: right;
}





